.header__menu--rwd {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  .menu--rwd__close {
    font-size: $medium;
    position: absolute;
    top: 5px;
    right: 15px;
    color: $tSecondary;
  }
  .menu--rwd__close--active {
    animation: roll 0.5s linear 1;
  }
  .menu--rwd__wrapper {
    width: 80%;
    height: 100vh;
    padding: 20px 0;
    overflow-y: scroll;
    background: $secondary;
    transform: translateX(-100%);
    transition: all 0.5s;
    .wrapper__link {
      .link__item {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        font-size: $regular;
        display: block;
        text-decoration: none;
        color: $tSecondary;
        border: 1px solid $primary;
        border-radius: 4px;
        i {
          margin-right: 10px;
        }
      }
      @include respond(extraTablet) {
        padding: 10px 40px;
      }
      @include respond(phone) {
        padding: 10px;
      }
    }
    .wrapper__feature {
      display: none;
      margin-top: 15px;
      .feature__theme {
        margin-right: 20px;
        display: flex;
        align-items: center;
        .theme__icon {
          margin: 0 5px;
          color: $tSecondary;
          opacity: 0.5;
          transition: 0.5s;
        }
        .theme__icon--active {
          opacity: 1;
        }
      }
      .feature__lang {
        border: 1px solid $primary;
        border-radius: 20px;
        overflow: hidden;
        .lang {
          width: 60px;
          padding: 2px;
          font-size: $regular;
          color: $tSecondary;
          text-align: center;
          display: inline-block;
          cursor: pointer;
          transition: 0.5s;
        }
        .lang--active {
          background: $primary;
          color: $tPrimary;
        }
      }
      @include respond(phone) {
        display: flex;
        justify-content: center;
      }
    }
  }
  .menu--rwd__wrapper--active {
    transform: translateX(0);
  }
}
.header__menu--rwd-active {
  opacity: 1;
  visibility: visible;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180deg);
  }
}
