html {
  scroll-behavior: smooth;
  --webkit-scroll-behavior: smooth;
  --moz-scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border;
  font-family: "Poppins", sans-serif;
}

.app-dark {
  transition: 0.3s;
  background: $dark-1;
  color: $tSecondary;
}

.app-light {
  transition: 0.3s;
  background: $primary;
  color: $tPrimary;
}
